* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  /*
  We're working with 'rem' where 10px === 1rem
  so we do the following math
  (desired default pixel / default browser pixel) * 100
            10           /          16            * 100
                        62.5
  */
  font-size: 62.5%;
  box-sizing: border-box;

  @include responsive(bp-large) {
    font-size: 50%;
  }

}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}