.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light04);

  @include responsive(bp-medium) {
    display: none;
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}