:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ef3366;
  --color-primary-dark: #ba265d;
  --color-grey-light01: #faf9f9;
  --color-grey-light02: #f4f2f2;
  --color-grey-light01: #f0eeee;
  --color-grey-light01: #ccc;
  --color-grey-dark01: #333;
  --color-grey-dark02: #777;
  --color-grey-dark03: #999;
}