.cta {
  padding: 3.5rem 0;
  text-align: center;

  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

.btn {
  position: relative;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 10rem;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #FFF;
  overflow: hidden;

  &__visible {
    display: inline-block;
    padding: 2rem 7.5rem;
    height: 100%;
    width: 100%;
    transition: all .2s;
  }

  &__invisible {
    display: inline-block;
    position: absolute;
    padding: 2rem 0;
    height: 100%;
    width: 100%;
    left: 0;
    top: -100%;
    transition: all .2s;
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:hover {
    cursor: pointer;
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}