.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light01);
  border-bottom: .1rem solid var(--color-grey-light02);
}

.description {
  font-size: 1.4rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  background-color: #FFF;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, .06);
  padding: 3rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
  list-style: none;
  padding: 3rem 0;
  border-top: 1px solid var(--color-grey-light02);
  border-bottom: 1px solid var(--color-grey-light02);


  &__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;
  }

  &__item::before {
    content: '';
    display: inline-block;
    margin-right: .7rem;
    width: 1rem;
    height: 1rem;
    // background-image: url(../../assets/img/chevron-thin-right.svg);
    // background-size: cover;

    background-color: var(--color-primary);
    -webkit-mask-image: url(../../assets/img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
  }
}

.recommend {
  display: flex;
  align-items: center;

  &__count {}

  &__friends {
    margin-left: auto;
  }

  font-size: 1.3rem;
  color: var(--color-grey-dark03);

  &__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: .3rem solid #FFF;
    box-sizing: content-box;

    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }
}

.user-reviews {
  flex: 1;
}