.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;

  &>* {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;

    &:hover {
      background-color: var(--color-grey-light02);
    }
  }

  &__icon-box {
    position: relative;
  }

  &__notification {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #FFF;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
  }

  &__user {
    @include responsive(small-phone) {
      display: flex;
      flex-direction: column;
    }

    &-photo {
      height: 3.75rem;
      border-radius: 50%;
      margin-right: 1rem;
    }

    &-name {
      font-weight: 300;
    }
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark02);
  }
}